
@model Hotwired.Models.CardType
<turbo-frame id="type-@Model.Id">
    <form method="post" >
        <input type="hidden" asp-for="@Model.Id" hidden />
        <div class="grid grid-cols-3 py-3">
            <input asp-for="@Model.Descr" />
            <a asp-page="/Home" class="text-center ml-2">x</a>
            <button asp-page="/Home" asp-page-handler="SaveType" asp-route-id="@Model.Id" class="button-primary ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                </svg>
            </button>
        </div>
        <div class="grid grid-cols-2">
          <span>Ziyaret Edilebilir</span>
          <input asp-for="@Model.IsVisit" name="isVisit" type="checkbox" />
          <span>Lokasyon Zorunlu</span>
          <input asp-for="@Model.ForcedLocation" name="forcedLocation" type="checkbox" />
          <span>Kullanıcı Hesabı</span>
          <input asp-for="@Model.IsUserAccount" name="isUserAccount" type="checkbox" />
        </div>
    </form>
</turbo-frame>